$gray-900: #101828;
$gray-800: #101828;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98A2B3;
$gray-300: #D0D5DD;
$gray-200: #E4E7EC;
$gray-100: #F2F4F7;
$white: #fff;

$primary-shadow: #2e309275;
$primary: #2E3092;
$primary-hover: #2f3177;
$primary-active: #161847;
$brand: #6941C6;
$indigo: #1849AA;
$pink: #C11574;

.primary {
    color: $primary;
}

.white {
    color: $white;
}

.pink {
    color: $pink;
}

.bg-success {
    background-color: #ECFDF3 !important;
}

.bg-green {
    background-color: #45523E;
}

.bg-pink {
    background-color: #FDF2FA;
}

.bg-indigo {
    background-color: #EEF4FF;
}

.bg-brand {
    background-color: #F9F5FF;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.text-success {
    color: #02502F !important;
}

.indigo {
    color: $indigo;
}

.brand {
    color: $brand;
}

.gray-900 {
    color: $gray-900;
}

.gray-800 {
    color: $gray-800;
}

.gray-700 {
    color: $gray-700;
}

.gray-600 {
    color: $gray-600;
}

.gray-500 {
    color: $gray-500;
}

.gray-400 {
    color: $gray-400;
}

.gray-400 {
    color: $gray-400;
}

.gray-300 {
    color: $gray-300;
}

.gray-200 {
    color: $gray-200;
}

.gray-100 {
    color: $gray-100;
}